header {
    background-image: url("/static/img/space.gif");
    border-radius: 33px;
    height: 600px;
}

.identity {
    padding-bottom: 100px;
    text-align: center;
}

.identity-text {
    font-family: Lobster;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FAA527;
    font-size: 48px;
}

.img-foto {
    margin-top: 50px;
    align-content: center;
    border: 2px solid #FAA527;
    box-sizing: border-box;
    border-radius: 68.3121px;
}

.sosmed {
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 20px;
}

#about-me {
    background-image: url("/static/img/aboutme.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.prolog {
    margin-left: 50px;
    font-family: Radley;
    font-size: 36px;
    line-height: 45px;
}

.data-diri {
    margin-left: 50px;
    font-family: radley;
    font-size: 24px;
    line-height: 30px;
}