#mail {
    background-image: url("/static/img/aboutme.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mailme-b {
    color: black;
    font-family: Reem Kufi;
    font-size: 45px;
    margin-left: 80px;
}

.p-text {
    margin: 20px;
    padding-top: 40px;
    font-family: Radley;
    font-size: 24px;
}

.p-message {
    margin: 20px;
    padding-top: 40px;
    font-family: Radley;
    font-size: 24px;
}

input {
    margin: 20vw;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    color: white;
    border-radius: 50px
}