{% load static %}


<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="/">
            <b style="font-family: Rakkas; font-size: 30px;">FullFA</b>
        </a>
        <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="/">
            <img src="{% static 'img/MFA.png'%}" width="30px" alt="logo">
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="/#about-me" class="nav-link m-2 menu-item nav-active"><b style="font-family: Reem Kufi; font-size: 20px;"> About Me </b></a>
            </li>
            <li class="nav-item">
                <a href="/resume" class="nav-link m-2 menu-item"><b style="font-family: Reem Kufi; font-size: 20px;">Resume </b></a>
            </li>
            <li class="nav-item">
                <a href="/gallery" class="nav-link m-2 menu-item"><b style="font-family: Reem Kufi; font-size: 20px;">Gallery </b></a>
            </li>
            <li class="nav-item">
                <a href="/mail" class="nav-link m-2 menu-item"><b style="font-family: Reem Kufi; font-size: 20px;">Mail Me</b></a>
            </li>
        </ul>
    </div>
</nav>