{% load static %}

<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Sarala" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Radley" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Reem Kufi" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Rakkas" rel="stylesheet" type="text/css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="icon" href="{% static 'img/MFA.png' %}">
    <title>MFiqriA</title>
</head>

<body id="gallery">
    {% include 'tools/navig.html' %}

    <p class="gallery-p" style="color: whitesmoke;">Gallery</p><br><br>
    <div class="hscollege">
        Highschool & College<br><br>
        <div class="foto row">
            <div class="col-4 col-sm-4 col-md-12 col-lg-12">
                <img src="{% static 'img/bts.jpg' %}" alt="buku tahunan sekolah" width="437px" height="288px">
                <img src="{% static 'img/alumni.jpg' %}" alt="alumni" width="441px" height="288px">
                <img src="{% static 'img/pre.jpg' %}" alt="pre event" width="432px" height="288px">
            </div>
        </div>
    </div>
    <div class="organ">
        Organizations<br><br>
        <div class="foto row">
            <div class="col-4 col-sm-4 col-md-12 col-lg-12">
                <img src="{% static 'img/sosmas.jpg' %}" alt="Fuki Sosmass" width="437px" height="288px">
                <img src="{% static 'img/mcf.jpg' %}" alt="Imami" width="441px" height="288px">
                <img src="{% static 'img/booklet.jpg' %}" alt="booklet" width="432px" height="288px">
            </div>
        </div>
    </div>
    <div class="sosmas">
        Social Services <br><br>
        <div class="foto row">
            <div class="col-4 col-sm-4 col-md-6 col-lg-12">
                <img src="{% static 'img/tahu.jpg' %}" alt="Fuki Sosmass" width="468px" height="326px">
                <img src="{% static 'img/bakso.jpg' %}" alt="Imami" width="470px" height="324px">
            </div>
        </div>
    </div>
    <footer class="footer">
        <p style="font-size: 36px; font-family: Rakkas; padding: 54px;">Contact Me </p>
        <div class="contact">
            <img src="{% static 'img/mail.svg' %}" alt="mail" width="50px" height="50px"> : mfiqria66@gmail.com <br>
            <img src="{% static 'img/line.png' %}" alt="line" width="50px" height="50px" style="border-radius: 22.5px;"> : @mfiqriadrian
        </div>
        <div style="text-align: right; padding-bottom: 122px; padding-right: 160px;">
            <a target="_blank" rel="noopener" href="https://web.facebook.com/mfiqria66" title="MFiqriA"><img class="sosmed" src="{% static 'img/fb.png' %}" width=69px height=75px style="border-radius: 7px;"></a>
            <a target="_blank" rel="noopener" href="https://twitter.com/mfiqria" title="@mfiqria"><img class="sosmed" src="{% static 'img/twitter.png' %}" width=69px height=75px style="border-radius: 50px;"></a>
            <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/itsmefiqri/" title="itsmefiqri"><img class="sosmed" src="{% static 'img/linkedin.png' %}" width=69px height=75px style="border-radius: 7px;"></a>
            <a target="_blank" rel="noopener" href="https://www.instagram.com/mfiqriad/?hl=en" title="@mfiqriad"><img class="sosmed" src="{% static 'img/ig.png' %}" width=69px height=75px style="border-radius: 20px;"></a>

        </div>
    </footer>
    </div>
    {% include 'tools/scripts.html' %}
</body>

</html>