{% load static %}

<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Sarala" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Radley" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Reem Kufi" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Rakkas" rel="stylesheet" type="text/css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/resume.css' %}">
    <link rel="icon" href="{% static 'img/MFA.png' %}">
    <title>MFiqriA</title>
</head>

<body id="resume">
    {% include 'tools/navig.html' %}
    <p class="resume-p">Resume</p><br><br>
    <div class="resume-row row">
        <div class="resume-column col-12 col-sm-12 col-md-12 col-lg-6">
            <b class="resume-bold" style="margin-left: 69px;"> Education  </b>
            <p class="resume-isi" style="margin-top: 80px;">
                2018 - Now : Universitas Indonesia<br> Majority in Information Systems<br> 2015 - 2018 : Padangpanjang Senior Highschool<br> 2012 - 2015 : Tembilahan Junior Highschool<br> 2006 - 2012 : Tembilahan Elementary School<br>
        </div>
        <div class="resume-column col-12 col-sm-12 col-md-12 col-lg-6" style="margin-left=20px;">
            <div class="text-center">
                <b class="resume-bold">Organizations and <br> Committee Experience </b>
            </div>
            <p class="resume-isi" style="margin-top: 25px;">
                Social Department staff of FUKI (2018/2019)<br> Social Department staff of IMAMI (2018/2019)<br> Campaign Division staff of Pemira Fasilkom(2018/2019)<br> Music Performer on MCF (2019)<br>
            </p>

        </div>
    </div>
    <center>
        <b class="resume-bold">Skills</b>
    </center>
    <div class="resume-row row">
        <div class="resume-column col-12 col-sm-12 col-md-12 col-lg-6">
            <p class="resume-skill" style="margin-left: 20px;">
                Computer<br> Language <img class="star1" src="{% static 'img/star1.png' %}" style="margin-left: 62px;"><img class="star1" src="{% static 'img/star1.png' %}"><img class="star1" src="{% static 'img/star1.png' %}">
                <img class="star0" src="{% static 'img/star0.png' %}"> <img class="star0" src="{% static 'img/star0.png' %}"> <br><br> Foreign
                <br>Language <img class="star1" src="{% static 'img/star1.png' %}" style="margin-left: 62px;"> <img class="star1" src="{% static 'img/star1.png' %}"> <img class="star1" src="{% static 'img/star1.png' %}">
                <img class="star1" src="{% static 'img/star1.png' %}"> <img class="star0" src="{% static 'img/star0.png' %}"><br><br> Leadership <img class="star1" src="{% static 'img/star1.png' %}" style="margin-left: 40px;"><img class="star1" src="{% static 'img/star1.png' %}">
                <img class="star1" src="{% static 'img/star1.png' %}">
                <img class="star0" src="{% static 'img/star0.png' %}"> <img class="star0" src="{% static 'img/star0.png' %}"> <br><br> Adaptability <img class="star1" src="{% static 'img/star1.png' %}" style="margin-left: 23px;"><img class="star1" src="{% static 'img/star1.png' %}">
                <img class="star1" src="{% static 'img/star1.png' %}">
                <img class="star1" src="{% static 'img/star1.png' %}"> <img class="star1" src="{% static 'img/star1.png' %}"> <br><br>
            </p>

        </div>
        <div class="resume-column col-12 col-sm-12 col-md-12 col-lg-6">
            <p class="resume-skill" style="margin-top: 70px; margin-left: 20px;">
                Teamwork <img class="star1" src="{% static 'img/star1.png' %}" style="margin-left: 115px;"> <img class="star1" src="{% static 'img/star1.png' %}"> <img class="star1" src="{% static 'img/star1.png' %}">
                <img class="star1" src="{% static 'img/star1.png' %}"> <img class="star0" src="{% static 'img/star0.png' %}"> <br><br> Creativity <img class="star1" src="{% static 'img/star1.png' %}" style="margin-left: 125px;"> <img class="star1" src="{% static 'img/star1.png' %}">                <img class="star1" src="{% static 'img/star1.png' %}">
                <img class="star1" src="{% static 'img/star1.png' %}"> <img class="star0" src="{% static 'img/star0.png' %}"> <br><br> Communication <img class="star1" src="{% static 'img/star1.png' %}" style="margin-left: 40px;"><img class="star1" src="{% static 'img/star1.png' %}">
                <img class="star1" src="{% static 'img/star1.png' %}">
                <img class="star0" src="{% static 'img/star0.png' %}"> <img class="star0" src="{% static 'img/star0.png' %}"> <br><br> Work
                <br>Underpressure <img class="star1" src="{% static 'img/star1.png' %}" style="margin-left: 53px;"> <img class="star1" src="{% static 'img/star1.png' %}"> <img class="star1" src="{% static 'img/star1.png' %}">
                <img class="star1" src="{% static 'img/star1.png' %}"> <img class="star0" src="{% static 'img/star0.png' %}"> <br>
            </p>
        </div>
    </div>
    </div>
    {% include 'tools/scripts.html' %}
</body>

</html>